 <!-- Assignment 3 - SOEN 287 - Yuhong Yan - Summer II 2024
Submitted By: Afra Azreen (Student ID: 40234047)
Submitted On: 10/08/24
 Question 4 - Contact Us
-->


<!-- Container div to hold the sidebar and content sections -->
<div class="container">

    <!-- Sidebar section containing the navigation menu -->
    <div class="sidebar">
        <ul>
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/createaccount" target="_self">Create an Account</a></li>
            <li><a href="/browseandfindpets" target="_self">Find a Cat/Dog</a></li>
            <li><a href="/catCare" target="_self">Cat Care</a></li>
            <li><a href="/dog" target="_self">Dog Care</a></li>
            <li><a href="/givepetaway" target="_self">Have a Pet to Give Away?</a></li>
            <li><a href="/contactus" target="_self">Contact Us</a></li>
        </ul>
    </div>

    <div style="text-align: justify;" class="content">
        <h1>Contact Us</h1>
        <p>Thanks for taking the time to look through our webpage! This website was built by Afra Azreen (Student ID: 40234047). For any further inquiries please write an email to afra.azreen@gmail.com! Bye for now!</p> 
        
        <!-- Image is centered using inline style CSS code-->
        <h1> <img src = "images/newpaw.gif" width = 300 height = 300 style="display: block; margin: 0 auto;" alt = "pawbye image"></h1>
    </div>
</div>