   <!-- Assignment 3 - SOEN 287 - Yuhong Yan - Summer II 2024
Submitted By: Afra Azreen (Student ID: 40234047)
Submitted On: 10/08/24
 Question 4 - Create Account
-->


<div class="container">

    <!-- Sidebar section containing the navigation menu -->
   <div class="sidebar">
       <ul>
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/createaccount" target="_self">Create an Account</a></li>
            <li><a href="/browseandfindpets" target="_self">Find a Cat/Dog</a></li>
            <li><a href="/catCare" target="_self">Cat Care</a></li>
            <li><a href="/dog" target="_self">Dog Care</a></li>
            <li><a href="/givepetaway" target="_self">Have a Pet to Give Away?</a></li>
            <li><a href="/contactus" target="_self">Contact Us</a></li>
       </ul>
   </div>

   <div style="text-align: justify;" class="content">
       <h1 style = "text-align: center;"> <img src = "images/doggy.png" width = 100 height = 100 alt = "icon"> &nbsp; Caring For Our Canine Companions &nbsp; <img src = "images/doggy.png" width = 100 height = 100 alt = "icon"></h1>
       <p>It can be difficult knowing how to care for our doggies. But not to worry - we're here to help! Below, we've outlined some non-negotiables in keeping your dog happy and healthy. </p>
       <br>
       <h2><img src ="images/milk.png" width = 25 height = 25 alt = "icon"> &nbsp; Nutrition  &nbsp; <img src ="images/milk.png" width = 25 height = 25 alt = "icon"></h2>
       If you have been feeding your dog commercial pet foods, you may be jeopardizing his or her health. Cheap, supermarket pet foods are often composed of ground-up parts of animals deemed by Agriculture Department inspectors unfit for human consumption. Many guardians feed healthful, meatless diets to their dogs.

       Feed dogs first, before you eat. To keep dogs from begging at the dinner table, teach them the simple phrase “All done!” (You must be consistent with this—absolutely no more food can be given after saying the phrase, or the meaning will be lost.) After they understand “All done!” you will be able to feed your dogs something from the table without becoming the target of any begging after you stop.
               <br>
               <br>
               Still unsure? Understandable! For a comprehensive guide to Canine foods, click <a href="https://vcacanada.com/know-your-pet/nutrition-general-feeding-guidelines-for-dogs">here.</a>
       <br>
       <br>
       <h2><img src ="images/shot.png" width = 25 height = 25 alt = "icon"> &nbsp; Health &nbsp; <img src ="images/shot.png" width = 25 height = 25 alt = "icon"></h2>
       <p>Sterilizing dogs helps stem the tide of companion-animal overpopulation. Spaying female dogs reduces the stress and discomfort endured during heat periods, eliminates the risk of uterine cancer, and greatly reduces the risk of mammary cancer. Neutering makes male dogs much less likely to roam or fight and prevents testicular cancer. Never wait to take your dog to a veterinarian if there is any sign of illness or injury, but don’t leave your dog with the vet for any longer than absolutely necessary or allow the vet to refuse to let you see him or her upon request. </p>
       <br>
       <h2><img src ="images/house.gif" width = 25 height = 25 alt = "icon"> &nbsp; Environment &nbsp; <img src ="images/house.gif" width = 25 height = 25 alt = "icon"></h2>
       <p>Dogs are pack animals—they depend on you for love and protection, so keep them inside, take them for walks, and make them a part of your family. Dogs left unattended in their own yards, even for a few minutes, have been stolen, poisoned, and beaten. They can suffer from stress and loneliness, heatstroke in the summer, and frostbite, hypothermia, and dehydration in the winter. Because of the danger and cruelty that it poses, several communities have banned the chaining of dogs. Chained dogs kill as many children as do firearms, and they kill more than falls from trees, playground equipment, and fireworks accidents put together. </p>
       <br>
       <h2><img src ="images/collar.png" width = 25 height = 25 alt = "icon"> &nbsp; Training &nbsp; <img src ="images/collar.png" width = 25 height = 25 alt = "icon"></h2>
       <p>You and your dogs speak different languages. Humane, interactive training gives dogs greater freedom and a better understanding of our world. Untrained dogs are often punished for their “improper” behavior. Be the one to train your dog—you are the one who will need to know how to communicate with him or her—but get help from a humane dog trainer if you run into problems. Compassion, clarity, and consistency are the most important elements of dog training. Training should not include any activity or device that endangers animals (e.g., electric shock collars) or puts undue stress on them. Puppies should be taken out at least once every two hours (or within a half hour after eating or drinking) and guided to the same spot where they can smell having relieved themselves before. Immediately after they “do their business,” they should be praised lavishly in a high-pitched, excited voice. Crate training does not speed up the housebreaking process: Puppies do not develop full bladder control before 6 months of age and are physically incapable of “holding it” for very long. Take your adult pooch out at least four times a day and allow him or her time to linger and smell the fire hydrants. If you can’t go home at lunchtime, enlist the help of a neighbor or professional dog-walker. For more information on dog training and walking, click <a href = "https://www.akc.org/expert-advice/training/"> here. </a></p>
       <br>
       <h2><img src ="images/social.jpg" width = 25 height = 25 alt = "icon"> &nbsp; Socialization! &nbsp; <img src ="images/social.jpg" width = 25 height = 25 alt = "icon"></h2>
       <p>Animals get depressed if deprived of adequate social interaction, so let them “chat” and play with other dogs on walks and at parks. A happy dog’s life is not one long series of commands: Let them live a little, make choices, and take their time. Animals are very sensitive and can become easily frightened, so speak softly to dogs. Don’t fight or shout in their presence, and give them their own hiding places to dash into when they want to be alone. </p>
       <p>Now these are just some tips to keep your dog barking happily. Caring for your dog is a constant learning process, so don't fret if you get stuck along the way. You can always <a href="/contactus">contact us</a> directly with any specific questions you may have. </p>
       <p style = "text-align: center;"><img src ="images/finaldog.gif" width = 200 height = 200 alt = "icon"></p>
   </div>
</div>