   <!-- Assignment 3 - SOEN 287 - Yuhong Yan - Summer II 2024
Submitted By: Afra Azreen (Student ID: 40234047)
Submitted On: 10/08/24
 Question 4 - Home
-->
<!-- Container div to hold the sidebar and content sections -->
<div class="container">

    <!-- Sidebar section containing the navigation menu -->
    <div class="sidebar">
        <ul>
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/createaccount" target="_self">Create an Account</a></li>
            <li><a href="/browseandfindpets" target="_self">Find a Cat/Dog</a></li>
            <li><a href="/catCare" target="_self">Cat Care</a></li>
            <li><a href="/dog" target="_self">Dog Care</a></li>
            <li><a href="/givepetaway" target="_self">Have a Pet to Give Away?</a></li>
            <li><a href="/contactus" target="_self">Contact Us</a></li>
        </ul>
    </div>

    <div style="text-align: justify;" class="content">
        <h1>Welcome to Paws & Claws!</h1>
        <p>Founded in 2024, Paws & Claws is your go-to destination for finding a loving, forever home for pets in need. Our mission is to connect compassionate individuals and families with their perfect furry companions, ensuring every pet experiences the love and happiness they deserve. We offer a diverse selection of cats and dogs, each with their unique personalities and stories, all waiting to become a cherished member of your family.</p>
        <p>At Paws & Claws, we are passionate about animal welfare and committed to making a difference in the world, one adoption at a time. Our dedicated team works tirelessly to rescue, rehabilitate, and rehome pets, providing them with the care and attention they need. Moreover, we also offer resources and support for new pet owners, ensuring a smooth transition and a happy, healthy life for your new friend.</p>
        <p>We understand that some owners may no longer be capacitated to care for their furry friends. Join us in our mission to give these wonderful animals a second chance at life! Whether you're adopting, giving your pet away or simply researching cat/dog care, Paws & Claws is here to help!</p>
        <p>Explore our website, meet our adorable pets, and become part of a compassionate community that believes every pet deserves a loving home. Together, we can create a brighter future for pets and their families. We hope to hear from you soon!</p>  
    </div>
</div>