     <!-- Assignment 3 - SOEN 287 - Yuhong Yan - Summer II 2024
Submitted By: Afra Azreen (Student ID: 40234047)
Submitted On: 10/08/24
 Question 4 - Login Page
-->
    <div class="container">

        <!-- Sidebar section containing the navigation menu -->
       <div class="sidebar">
           <ul>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/createaccount" target="_self">Create an Account</a></li>
                <li><a href="/browseandfindpets" target="_self">Find a Cat/Dog</a></li>
                <li><a href="/catCare" target="_self">Cat Care</a></li>
                <li><a href="/dog" target="_self">Dog Care</a></li>
                <li><a href="/givepetaway" target="_self">Have a Pet to Give Away?</a></li>
                <li><a href="/contactus" target="_self">Contact Us</a></li>
           </ul>
       </div>
    
       <div style="text-align: justify;" class="content">
          
       
<main>
    <h2>Login</h2>
        <form id = "loginform" action="/submitLogin" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br><br>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" value="Submit">
        </form>
        <br>
            <div id="error-message" style="color: red; display: none;"></div>
            <div id="invalidUserName-message" style="color: red; display: none;"></div>
            <div id="invalidPassword-message" style="color: red; display: none;"></div>
            <div id="Success-message" style="color: green; display: none;"></div>
</main>  
            
       </div>
    </div>



