   <!-- Assignment 3 - SOEN 287 - Yuhong Yan - Summer II 2024
Submitted By: Afra Azreen (Student ID: 40234047)
Submitted On: 10/08/24
 Question 4 - Privacy
-->

<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/createaccount" target="_self">Create an Account</a></li>
            <li><a href="/browseandfindpets" target="_self">Find a Cat/Dog</a></li>
            <li><a href="/catCare" target="_self">Cat Care</a></li>
            <li><a href="/dog" target="_self">Dog Care</a></li>
            <li><a href="/givepetaway" target="_self">Have a Pet to Give Away?</a></li>
            <li><a href="/contactus" target="_self">Contact Us</a></li>
        </ul>
    </div>

    <div style="text-align: justify;" class="content">
        <h1>Privacy Disclaimer</h1>
        <p>Your privacy is of utmost importance to us. We assure you that any information you provide on this site will not be sold or misused in any way. We are committed to protecting your personal data and maintaining your trust. However, we cannot be held responsible for any incorrect or misleading information posted by pet owners. By using this site, you acknowledge and agree that the accuracy of content provided by users is not guaranteed by the site administrators.</p>
        <br>
        <p style = "text-align: center;"><img src = "images/priv.gif" width = 200 height = 200 alt = "heart image"></p>
    </div>
</div>
